# macOS
.DS_Store

# Editors
.idea/
.vscode/*
!.vscode/extensions.json
*.sw?

# Windows
Thumbs.db
Desktop.ini

# Expo / Node
node_modules/
.expo/
.expo-shared/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vercel
.env*.local
