# Xcode
DerivedData/
build/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Swift Package Manager
.build/
Package.resolved

# macOS
.DS_Store

# Editors
.idea/
.vscode/*
!.vscode/extensions.json
*.sw?

# Windows
Thumbs.db
Desktop.ini
