@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap");
.login-page {
  min-height: 100vh;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;
  font-family: "Tajawal", sans-serif;
}

.login-card {
  width: 420px;
  background: #000000;
  padding: 32px;
  border-radius: 18px;
  box-shadow: 0 0 40px rgb(215, 216, 211);
  box-sizing: border-box;
}

.login-logo {
  font-size: 25px;
  font-weight: 700;
  color: #c2e73f;
  text-align: center;
  margin-bottom: 10px;
}

.login-title {
  font-size: 20px;
  font-weight: 700;
  color: #73bf01;
  text-align: center;
  margin: 0 0 8px;
}

.login-subtitle {
  font-size: 14px;
  color: #f4f5f7;
  text-align: center;
  margin: 0 0 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #eaebed;
}

.login-input {
  width: 100%;
  padding: 14px;
  border: 1px solid #d1d5db;
  border-radius: 12px;
  font-size: 14px;
  margin-bottom: 16px;
  outline: none;
  box-sizing: border-box;
}

.login-input:focus {
  border-color: #2563eb;
}

.login-button {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.primary-button {
  background: #6ef52a92;
  color: #ffffff;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-direction: row-reverse;
}

.login-divider {
  text-align: center;
  margin: 20px 0;
  color: #ffffff;
}

.login-register-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #7979737b;
  text-decoration: none;
}
